In [ ]:
!jt -t monokai -f fira -fs 13 -nf ptsans -nfs 10 -N -kl -cursw 5 -cursc r -cellw 80% -T

Download the dataset from the below link
https://www.kaggle.com/bharadwaj6/kindle-reviews

# Data Preprocessing

In [ ]:
#import required libraries

#import pandas library
import pandas as pd
#import numpy
import numpy as np
#import requests
import requests
#import io
import io

In [70]:
#import the dataset in the data variable
data=pd.read_csv(r'C:\Users\SREE VARSHAN\Desktop\Amazon\Analysis-of-Amazon-Kindle-Store-Reviews-main\Dataset\kindle_reviews_update.csv')

In [71]:
data.shape

(982619, 10)

In [72]:
data.head()

,id,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",A1F6404F1VG29J,Avidreader,Nice vintage story,1399248000
1,1,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",AN0N05A9LIJEQ,critters,Different...,1388966400
2,2,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",A795DMNCJILA6,dot,Oldie,1396569600
3,3,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014",A1FV0SX13TWVXQ,"Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000
4,4,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",A3SPTOKDG7WBLN,Father Dowling Fan,Period Mystery,1395187200

In [73]:
#assigning 50000 rows to data
data=data.head(1000)

In [74]:
#checking for null values
data.isnull().any()

id                False
asin              False
helpful           False
overall           False
reviewText        False
reviewTime        False
reviewerID        False
reviewerName       True
summary           False
unixReviewTime    False
dtype: bool

In [75]:
data.isnull().sum()

id                0
asin              0
helpful           0
overall           0
reviewText        0
reviewTime        0
reviewerID        0
reviewerName      2
summary           0
unixReviewTime    0
dtype: int64

In [76]:
#deleting or dropping the unwanted columns from the dataset
del data['id']
del data['asin']
del data['helpful']
del data['reviewTime']
del data['reviewerID']
del data['reviewerName']
del data['unixReviewTime']

In [77]:
#first 10 rows of data
data.head(10)

,overall,reviewText,summary
0,5,I enjoy vintage books and movies so I enjoyed ...,Nice vintage story
1,4,This book is a reissue of an old one; the auth...,Different...
2,4,This was a fairly interesting read. It had ol...,Oldie
3,5,I'd never read any of the Amy Brewster mysteri...,I really liked it.
4,4,"If you like period pieces - clothing, lingo, y...",Period Mystery
5,4,A beautiful in-depth character description mak...,Review
6,4,I enjoyed this one tho I'm not sure why it's c...,Nice old fashioned story
7,4,Never heard of Amy Brewster. But I don't need ...,Enjoyable reading and reminding the old times
8,5,Darth Maul working under cloak of darkness com...,Darth Maul
9,4,This is a short story focused on Darth Maul's ...,"Not bad, not exceptional"

In [78]:
#checking value counts
data.overall.value_counts()

5    503
4    261
3    140
2     53
1     43
Name: overall, dtype: int64

In [79]:
#check the null values
data.isna().sum()

overall       0
reviewText    0
summary       0
dtype: int64

In [80]:
data['summary']

0                   Nice vintage story
1                         Different...
2                                Oldie
3                   I really liked it.
4                       Period Mystery
                    ...
995                         Good Story
996    A most  fun out of season read.
997            A Christmas nutcracker!
998                Very disappointing!
999                              Funny
Name: summary, Length: 1000, dtype: object

In [81]:
#joining review description and summary into one col
data['reviewText']=data['reviewText']+" "+data['summary']

In [82]:
data.drop(['summary'],axis=1,inplace=True)

In [83]:
data.head()

   overall                                         reviewText
0        5  I enjoy vintage books and movies so I enjoyed ...
1        4  This book is a reissue of an old one; the auth...
2        4  This was a fairly interesting read.  It had ol...
3        5  I'd never read any of the Amy Brewster mysteri...
4        4  If you like period pieces - clothing, lingo, y...

In [84]:
#checking for null values
data.isna().sum()

overall       0
reviewText    0
dtype: int64

In [85]:
#since there is only one null value, replace it with blank space
data['reviewText'].fillna("",inplace = True)

In [86]:
#Grouping the overall rating of scale 1-5 to 2 categories
def review_sentiment(rating):
    #0(positive) and  with 1(negative) 
    if(rating == 5 or rating == 4 or rating==3):
        return 0
    else:
        return 1

In [87]:
data.overall = data.overall.apply(review_sentiment)

In [88]:
data.overall.value_counts()

0    904
1     96
Name: overall, dtype: int64

In [89]:
data.head(50)

    overall                                         reviewText
0         0  I enjoy vintage books and movies so I enjoyed ...
1         0  This book is a reissue of an old one; the auth...
2         0  This was a fairly interesting read.  It had ol...
3         0  I'd never read any of the Amy Brewster mysteri...
4         0  If you like period pieces - clothing, lingo, y...
5         0  A beautiful in-depth character description mak...
6         0  I enjoyed this one tho I'm not sure why it's c...
7         0  Never heard of Amy Brewster. But I don't need ...
8         0  Darth Maul working under cloak of darkness com...
9         0  This is a short story focused on Darth Maul's ...
10        0  I think I have this one in both book and audio...
11        0  Title has nothing to do with the story.  I did...
12        0  Well written. Interesting to see Sideous (thro...
13        0  Troy Denning's novella Recovery was originally...
14        0  I am not for sure on how much of a difference ...
15        0  I really enjoyed the book. Had the normal back...
16        0  Great read enjoyed every minute of it .  I thi...
17        0  Another well written eBook by Troy Denning, bu...
18        0  This one promises to be another good book. I h...
19        0  I have a version of "Star by Star" that does n...
20        0  Excellent! Very well written story, very excit...
21        1  With Ylesia, a novella originally published in...
22        0  Great book couldn't put it down.  The story ex...
23        0  Most of the New Jedi Order books focus on the ...
24        0  I was hoping to find this one in book form. Th...
25        0  The events of "Ylesia" take place during "Dest...
26        0  Really shouldn't have Han Solo on the cover as...
27        0  Originally published as an e-book coinciding w...
28        0  This book was a good idea. I have always wante...
29        0  Great short story. It gives a little more insi...
30        0  I love anything with Chewbacca in it.  Him and...
31        0  A great little chapter to read on my Kindle, b...
32        0  I love the stories with Chewie in them! this e...
33        0  I'm not really sure where it actually fits int...
34        0  I really do enjoy Troy Denning's work, I want ...
35        0  Timothy Zahn's Fool's Bargain is a short story...
36        0  Not too bad, an intro-short-story for some big...
37        0  I absolutely love this book. Though it is shor...
38        0  What can I say Stormtroopers.  A story with tr...
39        1  For whatever reason, Star Wars short stories a...
40        0  As an ebook it reads very well on my Kindle, b...
41        0  ** Note: this story appears as a bonus in the ...
42        1  I admit it, I snapped this up the moment I saw...
43        0  I love Timothy Zahn's work!  He does what no o...
44        0  The hero in this story has been living in NYC ...
45        0  The Iron Marshall, by Louie L`Amour is one of ...
46        0  This is yet another  L'Amour winner. I have ye...
47        0  I almost didn't get this book because of the c...
48        0  This story by Louis L'Amour was the very first...
49        0  This is how it was in the big gambling and cor...

In [90]:
len(list(data['overall']))

1000

In [91]:
#split the data into x(independent variable)
x=data.iloc[:,1].values

In [92]:
#import natural language toolkit
import nltk
#import stopwords library to remove stopwords
from nltk.corpus import stopwords
#library used for stem the words
from nltk.stem.porter import PorterStemmer
#create an object for stemming
ps = PorterStemmer()
#library used for stem the words
from nltk.stem import WordNetLemmatizer
#create an object for wordnet lemmatizer
wordnet=WordNetLemmatizer()

In [93]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\SREE
[nltk_data]     VARSHAN\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [94]:
import re
# Initialize empty array to append clean text  
corpus=[]
# no of rows to clean 
for i in range(len(x)):
    #replacing punctuations and numbers using re library 
    temp=re.sub('[^a-zA-Z]',' ',x[i])
    # convert all text to lower cases
    temp=temp.lower()
    # split to array(default delimiter is " ") 
    temp=temp.split()
    # creating WordNetLemmatizer object to take main lemma of each word
    wordnet = WordNetLemmatizer()
    #loop for leammatization each word in string array at ith row 
    temp=[wordnet.lemmatize(word) for word in temp if not word in set(
        stopwords.words('english'))]
    #rejoin all string array elements to create back into a string 
    temp=' '.join(temp)
#append each string to create array of clean text 
    corpus.append(temp)

In [110]:
#creating bag of word model
from sklearn.feature_extraction.text import CountVectorizer
#To extract max feature, "max_features" is attribute to 
#experiment with to get better results
cv=CountVectorizer(max_features= 6000)
#z contains vectorized data (independent variable) 
x=cv.fit_transform(corpus).toarray()

In [111]:
#save bag of word model
import joblib
joblib.dump(cv.vocabulary_,"amazo.save")

['amazo.save']

In [97]:
# y contains answers if review is positive or negative 
y=data.iloc[:,0].values
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0], dtype=int64)

In [112]:
#split the data into train and test sets
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [113]:
#checking x_train shape
x_train.shape

(800, 6000)

In [114]:
#checking y_train shape
y_train.shape

(800,)

In [115]:
#checking x_test shape
x_test.shape

(200, 6000)

# ANN

In [116]:
#import libraries
import tensorflow
import keras
#import Sequential
from tensorflow.keras.models import Sequential
#import Dense
from tensorflow.keras.layers import Dense

In [117]:
#intialize the model
model=Sequential()

#adding input layer
model.add(Dense(input_dim=6000,kernel_initializer='random_uniform',
                activation='relu',units=6000))

#adding hidden layer
model.add(Dense(units=9,kernel_initializer='random_uniform',
                activation='relu'))

#adding output layer
model.add(Dense(units=1,kernel_initializer='random_uniform',
                activation='sigmoid'))

#configure the learning process
model.compile(optimizer='adam',loss='binary_crossentropy',
              metrics=['accuracy'])

#training the model
model.fit(x_train,y_train,epochs=20,batch_size=32)

Epoch 1/20
25/25 [==============================] - 6s 207ms/step - loss: 0.4665 - accuracy: 0.8863
Epoch 2/20
25/25 [==============================] - 5s 197ms/step - loss: 0.2226 - accuracy: 0.9050
Epoch 3/20
25/25 [==============================] - 5s 205ms/step - loss: 0.1205 - accuracy: 0.9050
Epoch 4/20
25/25 [==============================] - 6s 219ms/step - loss: 0.0841 - accuracy: 0.9050
Epoch 5/20
25/25 [==============================] - 6s 222ms/step - loss: 0.0724 - accuracy: 0.92503s
Epoch 6/20
25/25 [==============================] - 5s 197ms/step - loss: 0.0692 - accuracy: 0.9962
Epoch 7/20
25/25 [==============================] - 5s 197ms/step - loss: 0.0669 - accuracy: 0.99623s
Epoch 8/20
25/25 [==============================] - 9s 365ms/step - loss: 0.0654 - accuracy: 1.0000
Epoch 9/20
25/25 [==============================] - 5s 210ms/step - loss: 0.0644 - accuracy: 0.9987
Epoch 10/20
25/25 [==============================] - 5s 201ms/step - loss: 0.0637 - accuracy: 0.9987
Epoch 11/20
25/25 [==============================] - 5s 203ms/step - loss: 0.0628 - accuracy: 1.0000
Epoch 12/20
25/25 [==============================] - 5s 195ms/step - loss: 0.0618 - accuracy: 1.0000
Epoch 13/20
25/25 [==============================] - 5s 195ms/step - loss: 0.0611 - accuracy: 1.0000
Epoch 14/20
25/25 [==============================] - 5s 202ms/step - loss: 0.0603 - accuracy: 1.0000
Epoch 15/20
25/25 [==============================] - 6s 219ms/step - loss: 0.0596 - accuracy: 1.0000
Epoch 16/20
25/25 [==============================] - 6s 221ms/step - loss: 0.0588 - accuracy: 1.0000
Epoch 17/20
25/25 [==============================] - 5s 197ms/step - loss: 0.0580 - accuracy: 1.0000
Epoch 18/20
25/25 [==============================] - 5s 198ms/step - loss: 0.0573 - accuracy: 1.0000
Epoch 19/20
25/25 [==============================] - 5s 201ms/step - loss: 0.0565 - accuracy: 1.0000
Epoch 20/20
25/25 [==============================] - 5s 197ms/step - loss: 0.0558 - accuracy: 1.0000

In [118]:
#save the model
model.save("amazo.h5")

In [119]:
ypred=model.predict(x_test)

In [120]:
ypred

array([[5.11193576e-08],
       [2.03015879e-05],
       [5.13616204e-03],
       [3.49376423e-05],
       [5.25949857e-12],
       [6.04659319e-04],
       [5.01840019e-12],
       [1.66255543e-08],
       [1.23539567e-03],
       [9.10663857e-07],
       [3.90478772e-06],
       [1.69722125e-10],
       [9.50565626e-10],
       [2.75332986e-05],
       [1.25969052e-02],
       [8.22753879e-11],
       [4.26891435e-21],
       [7.44023919e-03],
       [4.33708119e-05],
       [8.64474881e-11],
       [7.40019386e-05],
       [6.09297167e-05],
       [7.97390938e-03],
       [2.23982515e-05],
       [6.54784162e-05],
       [3.55059027e-09],
       [4.43839729e-02],
       [1.40896440e-03],
       [1.66012760e-05],
       [3.57687473e-04],
       [3.87710333e-03],
       [1.65492296e-04],
       [7.40147807e-05],
       [3.54290009e-04],
       [4.58519708e-07],
       [2.47874505e-05],
       [5.69546632e-10],
       [7.35934591e-05],
       [4.33917046e-02],
       [3.47292030e-06],
       [8.05569760e-12],
       [1.06157004e-05],
       [1.25263817e-08],
       [1.25744939e-03],
       [2.22292542e-02],
       [6.82815607e-06],
       [1.86012387e-02],
       [2.09271908e-04],
       [3.19421291e-04],
       [3.39483927e-06],
       [1.39117241e-04],
       [1.18733716e-07],
       [2.04497576e-03],
       [1.60632382e-10],
       [1.62764316e-11],
       [5.58155261e-06],
       [2.35229731e-04],
       [2.35675861e-06],
       [3.73013563e-07],
       [4.56022620e-02],
       [6.23148680e-03],
       [1.09170743e-13],
       [8.64723120e-07],
       [2.73206865e-06],
       [5.41633312e-07],
       [3.20117906e-05],
       [1.84112787e-03],
       [4.80367889e-05],
       [1.54560746e-06],
       [6.37688117e-06],
       [5.36605516e-09],
       [5.57062030e-03],
       [3.81782193e-05],
       [9.11274640e-07],
       [3.24997025e-08],
       [2.81442738e-07],
       [5.39010986e-24],
       [1.20420714e-06],
       [7.11023808e-04],
       [2.99330804e-06],
       [5.51553421e-05],
       [4.74023819e-03],
       [4.81456518e-04],
       [1.23512745e-03],
       [1.22129853e-08],
       [4.79584932e-03],
       [5.52961230e-02],
       [1.02351360e-05],
       [1.64933590e-06],
       [7.21767401e-06],
       [1.52561069e-03],
       [3.13053819e-11],
       [9.39871752e-05],
       [1.37066095e-10],
       [3.81020129e-07],
       [4.04347134e-09],
       [1.64827704e-03],
       [1.49346522e-06],
       [1.02979136e-07],
       [7.44321582e-08],
       [5.66626841e-05],
       [5.38256415e-07],
       [3.67547572e-02],
       [1.96361810e-07],
       [5.19131136e-05],
       [8.07440281e-03],
       [1.75272689e-05],
       [1.92235220e-05],
       [2.29507685e-04],
       [5.05744219e-06],
       [4.79993343e-01],
       [6.97698124e-06],
       [4.01076719e-08],
       [5.80608845e-04],
       [2.16066837e-04],
       [5.56564331e-03],
       [3.40296545e-23],
       [7.52897222e-06],
       [8.05438916e-09],
       [3.39721739e-02],
       [1.69661165e-15],
       [2.23372740e-06],
       [9.09781833e-11],
       [1.48328513e-06],
       [7.22240001e-09],
       [4.24769587e-06],
       [5.51968813e-04],
       [1.26552582e-03],
       [1.44928208e-07],
       [1.61621273e-02],
       [2.47940317e-08],
       [3.83426126e-08],
       [3.07694421e-07],
       [1.65391084e-05],
       [1.63962305e-01],
       [6.91230844e-06],
       [5.66853851e-05],
       [8.53805686e-05],
       [2.64065438e-05],
       [1.11033241e-05],
       [4.18663025e-04],
       [1.13107699e-05],
       [8.52793455e-04],
       [3.99403007e-06],
       [3.12293355e-06],
       [1.79732469e-05],
       [4.06904510e-05],
       [5.73701113e-12],
       [7.93249783e-05],
       [3.88322721e-15],
       [8.96722078e-04],
       [3.67730856e-04],
       [1.54601132e-08],
       [6.67154789e-04],
       [1.24245882e-04],
       [1.68011793e-05],
       [7.57753849e-04],
       [5.77890873e-03],
       [5.30901957e-07],
       [3.00728748e-14],
       [2.85274415e-10],
       [1.78346866e-07],
       [6.53147697e-04],
       [3.37481499e-04],
       [1.24045339e-15],
       [3.23083960e-09],
       [1.11868978e-03],
       [1.09117525e-06],
       [1.69162632e-07],
       [1.46731138e-02],
       [4.94772451e-07],
       [3.97332860e-06],
       [1.80482864e-04],
       [1.24616728e-17],
       [9.36554372e-08],
       [4.34516367e-10],
       [3.77921253e-07],
       [4.49298204e-06],
       [2.09578872e-03],
       [1.21725398e-05],
       [3.14945617e-12],
       [2.00249997e-05],
       [6.03546869e-05],
       [1.51783228e-03],
       [4.40012536e-06],
       [5.31566184e-05],
       [5.47056835e-08],
       [2.66539981e-08],
       [4.23333540e-06],
       [9.80085497e-06],
       [1.65638315e-12],
       [9.04357294e-05],
       [4.70382750e-01],
       [1.53712332e-02],
       [1.53696959e-07],
       [8.66767514e-05],
       [5.15935353e-05],
       [2.96293199e-02],
       [1.74575121e-06],
       [5.22318333e-05]], dtype=float32)

In [121]:
#save bag of word model
import joblib
joblib.dump(cv.vocabulary_,"amazo.save")

['amazo.save']

In [122]:
loaded=CountVectorizer(decode_error='replace',vocabulary=joblib.load('amazo.save'))

In [128]:
loaded

CountVectorizer(decode_error='replace',
                vocabulary={'ab': 0, 'abandoned': 1, 'abbott': 2,
                            'abbreviated': 3, 'abby': 4, 'abc': 5,
                            'abducted': 6, 'abe': 7, 'abide': 8, 'ability': 9,
                            'able': 10, 'abolitionist': 11, 'abound': 12,
                            'abraham': 13, 'abrian': 14, 'abridged': 15,
                            'abroad': 16, 'abrupt': 17, 'abruptly': 18,
                            'absconded': 19, 'absence': 20, 'absent': 21,
                            'absinthe': 22, 'absolute': 23, 'absolutely': 24,
                            'absolutley': 25, 'absolve': 26, 'absorbed': 27,
                            'absorbing': 28, 'abstinence': 29, ...})

In [131]:
d="Writing was good"
d=d.split('delimiter')
result=model.predict(loaded.transform(d))
print(result)
prediction=result>0.5
#print(prediction)
if prediction[0] == False:
    print("Positive review")
elif prediction[0] == True:
    print("Negative review")

[[0.02109748]]
Positive review